.home-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-panel {
  width: 50%;
  background-color: #0dd3c1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.right-panel {
  width: 50%;
  background-color: #0dd3c1;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;

  .navbar {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 40px;

    a {
      color: white; 
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    text-align: center;
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
      
    .highlight {
      color: #046d90;
      font-weight: bold;
      font-family: 'Bauhaus 93', sans-serif;
      font-size: 50px;
    }

    .login-button {
      margin-top: 20px;
      padding: 12px 24px;
      background-color: white;
      border: none;
      color: #0dd3c1;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}



























.app-title {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(28px, 4.5vw, 56px);
  font-weight: 800;
  color: #ffffff;         
  text-align: left;        
  margin: 20px 0;

}
